<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Deploy of smart contract</title>
	<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"
		integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous"></script>
	<script src="lib/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mobiscroll-angularjs@4.0.0/dist/js/mobiscroll.angularjs.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- graphics -->
	<link rel="stylesheet" href="css/unicons.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<!-- MAIN STYLE -->
	<link rel="stylesheet" href="css/tooplate-style.css">

	<!-- Modeler import -->
	<link rel="stylesheet" href="css/diagram-js-preview.css" />
	<link rel="stylesheet" href="vendor/bpmn-js/assets/bpmn-font/css/bpmn.css" />
	<link rel="stylesheet" href="vendor/chor-js/font/include/css/choreography.css" />
	<!-- Modeler end import -->
	<!-- Sweet alert -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">

    <link rel="stylesheet" href="css/querying.css">

	<style>
		.highlight:not .djs-connection .djs-visual>:nth-child(1) {
			fill: green !important;
		}

		.highlight-overlay {
			background-color: green;
			/* color elements as green */
			opacity: 0.4;
			pointer-events: none;
			/* no pointer events, allows clicking through onto the element */
		}

		.bjs-powered-by {
			display: none;
		}

		.djs-palette two-column open {
			display: none;
		}

		.set-active {
			background: black;
		}


		.slidecontainer {
			width: 100%;
		}

		.slider {
			-webkit-appearance: none;
			width: 100%;
			height: 25px;
			background: #d3d3d3;
			outline: none;
			opacity: 0.7;
			-webkit-transition: .2s;
			transition: opacity .2s;
		}

		.slider:hover {
			opacity: 1;
		}

		.slider::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 25px;
			height: 25px;
			background: blue;
			cursor: pointer;
		}

		.slider::-moz-range-thumb {
			width: 25px;
			height: 25px;
			background: blue;
			cursor: pointer;
		}
	</style>

</head>

<body id="controllerBody" ng-app="monitor" ng-controller="monitorCtrl" ng-cloak>
	<!-- MENU -->
	<nav class="navbar navbar-expand-sm  navbar-light bg-light" data-ng-init="setUser()">
		<div class="container">
			<!-- <a class="navbar-brand" href="index.html"></i> ChorChain</a>--->
			<img src="ChorChain_logo.png" width="150" height="52" alt="ChorChin logo">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav" ng-if="isLogged">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item">
						<a href="homePage.html" class="nav-link"><span data-hover="Home Page">Home Page</span></a>
					</li>
					<li class="nav-item">
						<a href="modeler.html" class="nav-link"><span data-hover="Modeler">Modeler</span></a>
					</li>
					<li class="nav-item">
						<a href="deploy.html" class="nav-link active"><span data-hover="Execution Page">Execution Page</span></a>
					</li>
					<li class="nav-item">
						<a href="querying.html" class="nav-link"><span data-hover="Querying">Querying</span></a>
					</li>
					<li class="nav-item">
						<a href="audit.html" class="nav-link"><span data-hover="Audit">Audit</span></a>
					</li>
					<li class="nav-item">
						<a href="personalPage.html" class="nav-link"><span data-hover="Personal Page">Personal
								Page</span></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<section class=" d-lg-flex justify-content-center align-items-center">
       <!--- <h3 ng-if="!isLogged">You must log in to access this page</h3> ng-if="isLogged " --->
		<div class="container-fluid" >
			<div class="row">
				<div class="col-lg-3">
					<div class="card">
						<div class="card-body" ng-cloak>
							<h6>Model File List</h6>
							<ul class="list-group models-list">
								<li class="list-group-item" ng-repeat="contract in contracts track by $index">
									<a ng-click="getContractParticipants(contract.id); getTask(contract.id); sub(contract.id); savePastEvents()" class="nav-link" id="{{contract.id}}"
										style="cursor:pointer">{{contract.name}}
										<small class="text-muted">{{contract.id}}</small></a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-9">
					<div class="card">
						<div class="card-body" ng-cloak>

							<h5>{{actualContract.name}}</h5>
							<div class="col-12">
								<div id="canvas" style="height: 400px;"></div>
							</div>
							<div class="row">
								<div class="col-9" ng-cloak>
									<div class="slidecontainer">
										<input class="slider" id="transactionSlider" type="range" class="no-border"
											value="0" min="0" max="0" />
									</div>
									<button type="button" style="display: none" id="js-preview"
										data-value="{{actualContract.name}}"></button>
									<div>Contract deployed: {{actualContract.address}} visible at: <a
											href="https://rinkeby.etherscan.io/address/{{actualContract.address}}">
											etherscan.io</a></div>
									<ul class="list-group">
										<li class="list-group-item my-2" ng-repeat="msg in msgs"
											ng-if="msg.status == 'Enabled'">

											<!--{{actualContract.tasks[$index]}}-->
											{{actualContract.taskIdAndName[msg.ID]}}
											<div class="float-right">Status:

												{{msg.status}}</div>
											{{currentRole}}
											<form class="mt-3"
												ng-if="msg.show==1 && actualContract.participants[currentRole] == user.id">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Function input"
														ng-model="param">
													<!--<div ng-show="payment == true">
														<input type="text" class="form-control"
															placeholder="Amount to send" ng-model="amount">
													</div>--->
												</div>
												<input type="submit" class="btn btn-primary" value="Submit"
													ng-click="launch(msg.ID, $index, contract.id, param)"
													id="submitbtn">
											</form>
											<div
												ng-if="msg.show==1 && actualContract.participants[currentRole] != user.id">
												Waiting for the incoming message</div>
										</li>

									</ul>
								</div>
								<div class="col-3">
									<ul class="list-group">
										<li class="list-group-item" ng-repeat="msg in msgToShow track by $index"
											ng-if="msg">
                                            {{msg.fName}} <br><br>
                                           <div ng-if="msg.value"> {{msg.name}} : {{msg.value}}</div> </li>
									</ul>
									<ul class="list-group">
										<!---<li class="list-group-item"
                                        ng-repeat="transaction in transactionHistory track by $index"
                                        ng-if="transaction.sid == actualSid || $index == actualSid">
                                    <div ng-repeat="creation in transactionHistory"
                                            ng-if="transaction.sid.includes('Start') && creation.sid.includes('Contract creation')">
                                            Contract Creation (event {{$index + 1}})<br>
                                            Transaction hash : <a
                                                href="https://rinkeby.etherscan.io/tx/{{transaction.hash}}">
                                                {{transaction.hash}} </a><br>
                                            Sent from : {{creation.from}} <br>
                                            Transaction gas limit : {{creation.gas}} <br>
                                            Transaction gas price : {{creation.gasPrice}} <br>
                                            Gas used by the transaction : {{creation.gasUsed}} <br>
                                            Block mine time :{{creation.time}}
                                        </div>
                                        <br>
                                        Event {{$index + 1}} <br>
                                        Transaction hash : <a
                                            href="https://rinkeby.etherscan.io/tx/{{transaction.hash}}">
                                            {{transaction.hash}} </a><br>
                                        Sent from : {{transaction.from}} <br>
                                        Transaction gas limit : {{transaction.gas}} <br>
                                        Transaction gas price : {{transaction.gasPrice}} <br>
                                        Gas used by the transaction : {{transaction.gasUsed}} <br>
                                        Block mine time :{{transaction.time}}--->
										</li>
									</ul>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		</div>
		</div>

		</div>


		</div>
	</section>
	<div class="modal fade" role="dialog" id="auditing"  ng-if="isLogged ">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="msg in msgToShow track by $index">
                            {{msg.name}} : {{msg.value}} <br></li>
					</ul>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="transaction in transactionHistory track by $index"
							ng-if="transaction.sid == actualSid || $index == actualSid">
							<div ng-repeat="creation in transactionHistory"
								ng-if="transaction.sid.includes('Start') && creation.sid.includes('Contract creation')">
								Contract Creation (event {{$index + 1}})<br>
								Transaction hash : <a href="https://rinkeby.etherscan.io/tx/{{transaction.hash}}">
									{{transaction.hash}} </a><br>
								Sent from : {{creation.from}} <br>
								Transaction gas limit : {{creation.gas}} <br>
								Transaction gas price : {{creation.gasPrice}} <br>
								Gas used by the transaction : {{creation.gasUsed}} <br>
								Block mine time :{{creation.time}}
							</div>
							<br>
							Event {{$index + 1}} <br>
							Transaction hash : <a href="https://rinkeby.etherscan.io/tx/{{transaction.hash}}">
								{{transaction.hash}} </a><br>
							Sent from : {{transaction.from}} <br>
							Transaction gas limit fp: {{transaction.gas}} <br>
							Transaction gas price : {{transaction.gasPrice}} <br>
							Gas used by the transaction : {{transaction.gasUsed}} <br>
							Block mine time :{{transaction.time}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script src="lib/app.js"></script>
	<script src="lib/controller.js"></script>
	<script src="lib/service.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.js"></script>
	<script src="lib/appmodeler.js"></script>

</body>


<script>
	$(document).on("click", ".nav-link", function () {
		$("#js-preview").trigger("click");
	});

	var accountInterval = setInterval(function () {

		$('.djs-group').dblclick(function (e) {
			e.stopPropagation();
			//event.stopPropagation()

			taskid = e.currentTarget.childNodes[0].dataset.elementId;
			var task = e.currentTarget.childNodes[0].dataset.elementId;
			//$('#auditing').modal('show');

			angular.element(document.getElementById('controllerBody')).scope().selectTransactionToShow(task);
			//angular.element(document.getElementById('controllerBody')).scope().gasCalculation();
		});
	}, 100);



	function setTabActive(contractid) {
		tablinks = document.getElementsByClassName("list-group-item");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace("bg-grey", "");
		}
		document.getElementById(contractid).parentNode.classList.add('bg-grey');
	}

	var slider = document.getElementById("transactionSlider");

	slider.oninput = function () {
        //$('#auditing').modal('show');
        const parsedValue = angular.element(document.getElementById('controllerBody')).scope().parsingSliderInput(slider.value);
        angular.element(document.getElementById('controllerBody')).scope().selectTransactionToShow(parsedValue);
		//angular.element(document.getElementById('controllerBody')).scope().gasCalculation();
	}

	var app = angular.module('monitor', ['ngCookies', 'mobiscroll-form']);

	app.controller("monitorCtrl", function ($scope, $http, $cookies, $window) {
        $scope.user = {};
		$scope.sendParams = {};
		$scope.contracts = {};
		$scope.tasks = {};
		//var web3 = new Web3("http://193.205.92.133:8545");
		var web777 = new Web3("ws://193.205.92.133:8546");
		$scope.actualContract = {};
		$scope.myContract = {};
		$scope.abi = {};
		$scope.inputs = {};
		$scope.memory = {};
		$scope.msgs = {};
		$scope.singleMemory = null;
		$scope.index = null;
		$scope.valueNames = {};
		$scope.currentRole = "";
		$scope.activeSid = "";
		//$scope.payment = false;
		//$scope.transactionHistory = [{hash:"", from:"", gas:"", gasPrice:"", time:"", blockNumber:"", sid:""}];
		$scope.transactionHistory = [{}];
		$scope.msgToShow = [{}];
		$scope.transactionToShow = [{ hash: "", from: "", gas: "", gasPrice: "", time: "", blockNumber: "", sid: "" }];
		$scope.actualSid = "";
		$scope.totalGas = [];
		$scope.eventSid = [];
        $scope.isLogged = false;
        $scope.steps = 50;


        //var myContract = new web3.eth.Contract(JSON.parse($scope.contract.abi), $scope.contract.address);


		$scope.launch = async function (task, $index, refresh, parameter) {
			$("#submitbtn").prop("disabled", true);
			//var am = amount;

			let params = parameter;
			//let name = $scope.actualContract.tasks[$index];
			let name = $scope.actualContract.taskIdAndName[task];



			if (name.includes("payment")) {

				let complete = task + '()';
				let replaced = complete.replace(/-/g, '_');

				let parArray = [];

				let newAmount = web3.utils.toWei(params, 'ether');
				let paymentStart = new Date();
				$scope.myContract.methods[replaced].apply(this, parArray).send({
					chainId: 4,
					from: $scope.user.address,
					value: newAmount,
					//gas: 200000,
				}).then(function (error, receipt) {
					let paymentEnd = new Date();
					let paymentDiff = paymentEnd - paymentStart; //in ms
					console.log("Message execution time: "+ paymentDiff);
					$scope.payment = false;
					removehighlightmsg($scope.activeSid);
					if (error) {
						$("#submitbtn").prop("disabled", false);
					}
				});

			} else {
				console.log("name: " + name + " task: " + task);
				var n1 = name.split('\(');
				//var n2 = n1.split(',');
				var n3 = n1[1].split(' ');

				var complete = task + '(';

				for (var i in n3) {

					if (n3[i] == 'uint' || n3[i] == 'string' || n3[i] == 'bool') {
						if (n3[i] == 'uint') {
							n3[i] = 'uint256';
						}
						complete += n3[i] + ' , ';

					}
				}
				var addPar = complete.split(' ');

				addPar.pop();
				addPar.pop();

				complete = "";
				for (i in addPar) {
					complete += addPar[i];
				}
				complete += ')';
				//console.log(complete);
				var replaced = complete.replace(/-/g, '_');
				//console.log(replaced);
				for (var method in $scope.myContract.methods) {
					//console.log(method);
					if (method == replaced) {
						//await unlock();
						var parArray = [];
						if (parameter.includes(',')) {
							//var a = parameter;
							//parArray = parameter.split('\,');
							var splittedParams;
							if (parameter.includes(', ')) {
								splittedParams = parameter.split('\, ');
							} else {
								splittedParams = parameter.split('\,');
							}

							for (var p in splittedParams) {
								if (splittedParams[p].includes("true")) {
									splittedParams[p] = true;
									//console.log(typeof parameter);
								} else if (splittedParams[p].includes("false")) {
									splittedParams[p] = false;
								}
								parArray = splittedParams;
							}
						}//qui finisce if
						else {
							if (parameter.includes("true")) {
								parameter = true;
								//console.log(typeof parameter);
							} else if (parameter.includes("false")) {
								parameter = false;
							}
							parArray.push(parameter);
						}
						//console.log(parArray);

						try {

							//console.log("no payment");
							let startTime = new Date();
							$scope.myContract.methods[method].apply(this, parArray).send({
								chainId: 4,
								from: $scope.user.address,
								//gas: 200000,
							}).then(function (error, receipt) {
								let endTime = new Date();
								let timeDiff = endTime - startTime; //in ms
								console.log("Message execution time: "+ timeDiff);
								removehighlightmsg($scope.activeSid);
								if (error) {
									$("#submitbtn").prop("disabled", false);
								}

							});

						} catch (e) {
							Swal.fire(
								'Bad input!',
								'You inserted a wrong type value!',
								'error'
							);
							$("#submitbtn").prop("disabled", false);
						}
					}
				}
			}
		}



		$scope.getUserContracts = function () {
			$http.post("rest/getCont/" + $cookies.get('UserId')).then(function (response) {
				$scope.contracts = response.data;
				//console.log(response.data);
			});
		}

		$scope.getSingleMem = function () {
			$scope.singleMemory = $scope.memory[$scope.index];
		}

		$scope.getContractParticipants = function(id){
            $http.post("rest/getPart/" + id).then(function (response) {
				//console.log(response.data);
				$scope.actualContract.participants = response.data;
            });
        }

		$scope.getTask = function (id) {
			setTabActive(id);
			/*$http.post("rest/getPart/" + id).then(function (response) {
				$scope.actualContract.participants = response.data;
			});*/

			$scope.msgs = null;
			$scope.memory = null;
			for (var i in $scope.contracts) {
				if ($scope.contracts[i].id == id) {
					$scope.actualContract = $scope.contracts[i].deployedContract;
					$scope.actualContract.name = $scope.contracts[i].name;

					//$scope.tasks = $scope.actualContract.tasks;
					$scope.tasks = $scope.actualContract.taskIdAndName;
					$scope.valueNames = $scope.actualContract.varNames;
					console.log($scope.actualContract);

					break;
				}
			}
			$scope.abi = JSON.parse($scope.actualContract.abi);
			$scope.myContract = new web3.eth.Contract($scope.abi, $scope.actualContract.address);
			$scope.myContract.defaultChain  = 'rinkeby';
			console.log($scope.myContract.defaultChain);

			$scope.myContract.methods.getCurrentState().call().then(function (receipt) {
				$scope.$apply(function (recepit) {
					$scope.msgs = receipt[0];
					$scope.memory = receipt[1];
					$scope.setRoleActive();
					console.log($scope.msgs);
					//sub(id);
				});
			});
		}


		$scope.setUser = function () {
            if($cookies.get('UserId') != null) {
                $scope.isLogged = true;
                $http.post("rest/getUserInfo/" + $cookies.get('UserId')).then(function (response) {
                    $scope.user = response.data;
                });
            }else{
                $scope.isLogged = false;
            }
		}

		async function unlock() {
			//TODO java method. optional: rimettere psw quando tento di sbloccare account $scope.user.address
			await web3.eth.personal.unlockAccount($scope.user.address
				, $scope.user.privateKey, 10000)
				.then();
		}


        async function getPastEvents(){
            return await $scope.myContract.getPastEvents('functionDone', {
                fromBlock: 0,
                toBlock: 'latest'
            });
        }

        $scope.savePastEvents = async function (){
            $scope.eventSid = [];
		    const pastEvents = await getPastEvents();
		    for(const event of pastEvents){
		        $scope.eventSid.push(event);
            }
		    const length = $scope.eventSid.length;
            document.getElementsByClassName("slider")[0].max = length-1;
        }


		$scope.getPast =  function () {
            //$scope.transactionHistory = [{hash:"", from:"", gas:"", gasPrice:"", time:"", blockNumber:"", sid:""}];
            $scope.transactionHistory = [{}];
            $scope.totalGas = [];
            $scope.eventSid = [];
            $scope.myContract.getPastEvents('functionDone', {
                fromBlock: 0,
                toBlock: 'latest'
            }, (error, result) => {
            })
                .then((result) => {
                    var events = result;

                    var callBackCount = 0;
                    for (var ev in events) {
                        $scope.eventSid.push(events[ev].returnValues[0]);
                        var hash = events[ev].transactionHash;
                        /*web3.eth.getTransaction(hash).then(function (resultTransaction) {
                            var transac = {
                                hash: resultTransaction.hash,
                                from: resultTransaction.from, gas: resultTransaction.gas, gasUsed: 0, gasPrice: resultTransaction.gasPrice,
                                time: "", blockNumber: resultTransaction.blockNumber, sid: ""
                            };*/

                        /*web3.eth.getBlock(resultTransaction.blockNumber).then(function (result) {
                            var time = result.timestamp;
                            var date = new Date(time * 1000);
                            transac.time = date;
                            transac.sid = eventSid[callBackCount];
                            callBackCount++;
                            $scope.$apply(function (receipt) {
                                $scope.transactionHistory.push(transac);
                            });
                        });					});*/

                        /*web3.eth.getTransactionReceipt(hash).then(function (receipt) {
                            $scope.totalGas.push(receipt.gasUsed);
                            console.log($scope.totalGas);
                            console.log($scope.transactionHistory);
                        });*/
                    }
                    //$scope.transactionHistory.shift();
                });
        }

		$scope.gasCalculation = function () {
			for (var t in $scope.transactionHistory) {
				$scope.transactionHistory[t].gasUsed = $scope.totalGas[t];
			}
		}


		/*$scope.getTransactionTime = function(){
			$scope.transactionHistory.pop();
			for(var i in $scope.transactionHistory) {
					web3.eth.getBlock($scope.transactionHistory[i].blockNumber).then(function (result) {
						console.log(result);
						var time = result.timestamp;
						var date = new Date(time);
							$scope.transactionHistory[i].time = date;
					});
			}
		}*/

		$scope.parsingSliderInput = function (sliderValue){
			return $scope.eventSid[sliderValue].returnValues[0];
		}

		//First part takes the clicked object id and shows the sent variable
		$scope.selectTransactionToShow = function (messageId) {
			$scope.$apply(function () {
				$scope.actualSid = messageId;
			});
			$scope.msgToShow = [{ fName:"", name: "", value: "" }];
			$scope.transactionToShow = [{ hash: "", from: "", gas: "", gasPrice: "", time: "", blockNumber: "", sid: "" }];
			for (const i in $scope.msgs) {

				if ($scope.msgs[i].ID == messageId) {
					//const functionParams = $scope.actualContract.tasks[i];
					const functionParams = $scope.actualContract.tasks[messageId];
					console.log($scope.msgs[i].ID);
					console.log(messageId);


					if (!functionParams.includes("(")) {
                        $scope.$apply(function () {
                            const completeToShow = {"fName": functionParams, "name": "", "value": ""};
                            $scope.msgToShow.push(completeToShow);
                        });
						break;
					}
					const parSplit = functionParams.split("(");
                    const noPar = parSplit[1].replace('\)', '');
					if (noPar.includes(",")) {
                        const virgSplit = noPar.split(',');
						for (const i in virgSplit) {
                            let onlyName = [];
							const index = virgSplit[i];
							onlyName = index.split(" ");
							for (const e in onlyName) {
								if (onlyName[e] == "") {
									onlyName.splice(e, 1);
								}
							}
							$scope.$apply(function () {
								const completeToShow = {"fName": functionParams, "name": index, "value": $scope.memory[onlyName[1]]};
								$scope.msgToShow.push(completeToShow);

							});
						}
					} else {
						const onlyName = noPar.split(" ");
						$scope.$apply(function () {
							const completeToShow = {"fName": functionParams, "name": noPar, "value": $scope.memory[onlyName[1]]};
							$scope.msgToShow.push(completeToShow);
                        });
					}


				} else if(messageId.includes("creation")){
                    $scope.$apply(function () {
                        const completeToShow = {"fName": messageId, "name": "", "value": ""};
                        $scope.msgToShow.push(completeToShow);
                    });
                    break;
                }
			}
			$scope.$apply(function (scop) {
				$scope.msgToShow.shift();
			});

		}



		$scope.setRoleActive = function () {
			//$scope.payment = false;
			var activeSid = {};
			for (var i in $scope.msgs) {
				if ($scope.msgs[i].status == 1) {
					$scope.msgs[i].show = 1;
					activeSid = $scope.msgs[i].ID;
					$scope.activeSid = activeSid;
					$scope.msgs[i].status = "Enabled";
					/*if ($scope.actualContract.tasks[i].includes("payment")) {
						$scope.payment = true;
					}*/
                    removehighlightmsg(activeSid);
					highlightmsg(activeSid);
					//console.log($scope.actualContract);
					$scope.currentRole = $scope.actualContract.taskIdAndRole[activeSid];
				}
				else if ($scope.msgs[i].status == 0) {
					$scope.msgs[i].status = "Disabled";
				}
				else if ($scope.msgs[i].status == 2) {
					activeSid = $scope.msgs[i].ID;
					//bpmnjs.get('canvas').addMarker(activeSid, 'highlight')
                    removehighlightmsg(activeSid);
					highlightmsg(activeSid);
					$scope.msgs[i].status = "Done";
				}
			}

		}

		$scope.addMeta = function () {
			$window.addEventListener("load", function () {
				if (typeof web3 !== "undefined") {
					web3 = new Web3(web3.currentProvider);
					//console.log(web3);
					//web3.eth.getAccounts().then(console.log);
				} else {
					console.log("No web3? You should consider trying MetaMask!");
				}

			});
		}



		$scope.sub = function(refresh) {
            for (var type in $scope.abi) {
				if ($scope.abi[type].name == "functionDone") {
					$scope.inputs = $scope.abi[type].inputs;
				}
			}

			$scope.myContract.events.functionDone((error, result) => {
				const eventObj = web3.eth.abi.decodeLog(
					$scope.inputs,
					result.data,
					result.topics
				)
				$scope.actualContract = null;
				$scope.tasks = null;
				$scope.valueNames = null;
				$scope.getTask(refresh);
				//$scope.getPast();
                $scope.savePastEvents();
			});

		}


		$scope.addMeta();
		$scope.getUserContracts();
		$scope.setUser();

		//deve partire quando clicco contratto sub();
		$scope.getXml = function (filename) {
			$http.post("rest/getXml/" + filename).then(function (response) {
				$scope.model = response.data;
            });
		}

	});



</script>

</html>
